{% extends "index.html" %}
{% load static %}


{% block style %}{% endblock  %}
{% block title %}    {{setting.title}}     {% endblock %}
{% block description %}     {% endblock %}
{% block keywords %}        {% endblock %}   
 

           {% block header %}
             {% include "header.html" %}
           {% endblock  %}

            {% block sidebar %}
              
            {% endblock  %}

            {% block slider %}
            {% include "slider1.html" %}
            {% endblock %}


{% block mainbody %}
  
{% include "content.html" %}

<!-- Slider With Banner Area End Here -->
<!-- Begin Product Area -->

{% endblock  %}


{% block footer %}
            {% include "footer.html" %}
 {% endblock  %}