{% load static %}
{% load i18n %}


<div class="slider-with-banner">
    <div class="container">
        <div class="row">
            <!-- Begin Category Menu Area -->
            <div class="col-lg-3">
                <!--Category Menu Start-->
                <div class="category-menu">
                    <div class="category-heading">
                        <h2 class="categories-toggle"><span>{% trans 'Categories' %}</span></h2>
                    </div>
                    <div id="cate-toggle" class="category-menu-list">
                        {% load mptt_tags %}
                        
                        <ul>
                            {% recursetree category %}
                            <li class="right-menu"><a href="{% url 'ecomapp:category_product' id=node.id slug=node.slug %}">{{ node.title }}</a>
                                {% if not node.is_leaf_node %} 
                                <ul class="cat-mega-menu">
                                    <li class="right-menu cat-mega-title"> 
                                       <a href="#">{% trans 'Sub Category' %}</a>
                                        <ul>
                                            <li><a href="{% url 'ecomapp:category_product' id=node.id slug=node.slug %}">{{ children }}</a></li>
                                            
                                        </ul>
                                    </li>
                                   
                                    
                                </ul>
                                {% endif %}
                            </li>
                            {% endrecursetree %}
                            
                            
                           
                        </ul>
                    </div>
                </div>
                <!--Category Menu End-->
            </div>
            <!-- Category Menu Area End Here -->
            <!-- Begin Slider Area -->
            <div class="col-lg-9">
                <div class="slider-area pt-sm-30 pt-xs-30">
                    <div class="slider-active owl-carousel">
                        <!-- Begin Single Slide Area -->
                        {% for p in sliding_images  %}
                          
                        
                        <div class="single-slide align-center-left  animation-style-0{{p.id}} bg-{{p.id}}">
                            {% if p.image %}
                            <img src="{{p.image.url}}" alt="placeholder+image"/>
                            {% endif%}
                            <div class="slider-progress"></div>
                            <div class="slider-content">
                                <h5 style="font-size:larger ;color:red;">Sale Offer <span>-20% Off</span> This Week</h5>
                                <h1 style="font-size:28px; color:green;">{{p.title}}</h1>
                                <h5 style="color:red;">{{p.description|truncatewords:9 }}</h5>
                                {% if p.discount_price %}
                                    <span class="mr-1" style="color:red;">
                                        <del>EGP{{ p.price }}</del>
                                    </span>
                                    <span class="mr-1" style="color:red;">EGP{{ p.discount_price }}</span>
                                    {% else %}
                                    <span class="mr-1" style="color:red; font-size:larger;">EGP{{ p.price }}</span>
                                {% endif %}
                                <div class="default-btn slide-btn">
                                    <a class="links" href="{% url 'ecomapp:product_single' p.slug %}">{% trans 'Shopping Now' %}</a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        <!-- Single Slide Area End Here -->
                        <!-- Begin Single Slide Area -->
                       
                        <!-- Single Slide Area End Here -->
                    </div>
                </div>
            </div>
            <!-- Slider Area End Here -->
        </div>
    </div>
</div>
<br>